.wrapped{
    max-width:1100px;
    min-width:1100px;
    margin:0 auto;
    text-align: center;
}
.blank70{
    height:70px;
}
.wrapped2{
    max-width:1250px;
    min-width:1250px;
    margin:0 auto;
    text-align: center;
}
body{
    min-width:1100px;
    background: #1a0a2c;
    color:#fff;
}
@media (max-width: 1250px){
    .wrapped2{
        max-width: 1100px;
        min-width: 1100px;
        margin: 0 auto;
        text-align: center;
    }
}
ul li{
    list-style:none;

}
.shadow{
    width:100%;
    height:593px;
    background: url(../image/bg.png) no-repeat right center;
    position:fixed;
    z-index: -1;
}
/*reset*/
.am-topbar{
    margin-bottom:0;
    border-image:linear-gradient(to right,#ff0031,#720083,#00d6ff) 30 30;
    background: transparent;
    transition: all 0.6s ease-in-out;
}
.am-with-topbar-fixed-top {
    padding-top: 0;
}
.am-topbar-nav > li > a:after {
    border: none;
}
.am-topbar a {
    color: #fff;
}
.am-topbar a:hover {
    color: #357ed9;
}
.am-topbar a:active {
    color: #6b6b6b;
}
.am-topbar-brand {
    padding: 0;
    float: left;
    line-height: 70px;
}
.am-topbar-nav {
    float: right;
}
.am-topbar-nav > li > a {
    position: relative;
    line-height: 70px;
    padding: 0 20px 0 15px;
}
.am-nav-pills>li{
    position:relative;
}
.am-nav-pills>li>ul{
    visibility: hidden;
    position: absolute;
    padding-left:0;
    top: 54px;
    left: 12px;
    opacity: 0.2;
    transform: translateY(-20px);
    transition: transform 0.5s,opacity 0.5s;
}
.am-nav-pills>li ul>li{
    line-height: 50px;
    text-align: center;
    background: #824bff;
    font-size: 14px;
}
.am-nav-pills>li li:hover{
    background: #1b1440;
}
.am-nav-pills>li ul span{
    min-width: 140px;
    padding: 0 10px;
    color:#fff;
}
.am-nav-pills>li:hover ul {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}
@media(max-width:640px){
    .am-topbar{
        height:80px;
    }
}

.nav-leftimg {
    padding-right: 15px;
    width: 158px;
    max-height: 50px;
    padding-bottom: 11px;
}
.nav-rightimg {
    padding-left: 20px;
    height: 28px;
}
@media only screen and (min-width: 641px) {
    [class*=am-u-] {
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 641px) {
    .am-topbar-brand .nav-leftimg {
        padding: 0 !important;
    }
}
.am-nav > li > a:focus, .am-nav > li > a:hover,.am-nav > li > a.am-active {
    background: transparent;
    color:#824bff;
}
#header{
    background: #000;
}

.guest{
    padding:100px 0 60px;
    position: relative;
    margin-top:80px;
}
.guest--re{
    padding-top:135px;
}
.banner--wrapper{
    position: relative;
}
.ticket{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left:-62px;
}
.banner{
    background:#1a0a2c url("../image/banner.jpg") no-repeat center top;
    height:530px;
    width:100%;
    min-width:1100px;
}
.media--wrapper{
    text-align:center;
    margin:20px auto 35px;
}
.media--wrapper img{
    margin:5px;
}
#information .media--wrapper img{
    width:91px;
    height:44px;
}
#information{
    text-align:center;
    font-size:16px;
    line-height:2;
}
#information article{
    position:relative;
}
#information .guest{
    padding:120px 0 60px;
}
#information p{
    margin:0;
    font-size:18px;
    line-height:48px;
}
#information .guest_div{
    width: 111px;
    height: 50px;
    position: absolute;
    left: 58%;
    top: 77px;
}
@media(max-width:1250px){
    #guest .guest img,#join .content img{
        width:1100px;
    }
}
#jigou .guest{
    padding:0;
}
#join .content,#liuchen{
    position:relative;
}
#join .tip{
    width:97px;
    height:95px;
    position:absolute;
    top:-18%;
    left:0;
}
#join .tip img{
    width:auto;
}
#liuchen .tip{
    width:138px;
    height:142px;
    position:absolute;
    top:-2%;
    right:0;
}
#jianli .content p{
    font-size:18px;
    line-height:48px;
}
#jianli span.order{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    line-height: 48px;
    margin-right:5px;
}

#schedule .table--border{
    height: 80px;
    border:1px solid;
    border-image: linear-gradient(to top right, #ff0031 ,#720083, #00d6ff) 30 30;
}
#schedule time{
    display:inline-block;
    font-size:22px;
    margin:60px 0 30px;
}
#schedule .content time:nth-of-type(2){
    margin-top:80px;
}
#schedule .table{
    display: flex;
    font-size:22px;
    line-height:36px;
    text-align:left;
    padding:22px 36px;
    margin:10px auto;
}
#schedule .table_time{
    flex:218;
    font-size:20px;
    color:#824bff;
}
#schedule .table_schedule{
    flex:356;
}
#schedule .table_theme{
    flex:454;
}

#news .content{
    background:url("../image/slidersborder.png") no-repeat 207px 4px;
    padding:45px 23px;
    margin-bottom: 70px;
}
.news_slider{
    width:600px;
    height:400px;

    margin:0 auto;
}
.news_slider .slider--wrapped{
    width:1049px;
    margin:0 auto;
}
.news_slider .am-slider .am-slides img {
    width:600px;
    height:400px;
    z-index: 1;
}
.news_slider .daniucard--wrapped{
    /*outline:1px solid red;*/
    max-width:1200px;
    margin:0 auto;
}
.news_slider .daniucard--wrapped .wrapper{
    margin-left:-20px;
    display: none;
}
.news_slider .daniucard--wrapped .wrapper.active{
    display: block;
}
.news_slider .daniucard{
    width:224px;
    height:310px;
    text-align:center;
    padding:16px 16px 24px;
    font-size:14px;
    color:#333;
    line-height:1;
    position: relative;
    background: url("http://www.d1ev.com/daniusays/image/slidecardbg.png") no-repeat;
}
.news_slider .card_img{
    width:140px;
    height:140px;
    border-radius:50%;
    overflow:hidden;
    margin:0 auto;
}
.news_slider .a_wrapped:hover{
    color:#000;
}
.news_slider .card_img img{
    width:140px;
    height:140px;
}
.news_slider .auther--content{
    text-align: center;
    line-height: 1.7;
    margin: 11px auto 14px;
    height: 46px;
    overflow: hidden;
}
.news_slider .auther--name{
    font-size: 20px;
    max-height: 20px;
    margin-top: 14px;
    overflow: hidden;
}
.news_slider .card_button{
    color:#fff;
    background: #f60;
    width:68px;
    line-height:26px;
    cursor:pointer;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position: absolute;
    bottom:24px;
    left:50%;
    margin: 14px auto 0 -34px;
}
.news_slider .card_button:hover{
    color:#fff;
    background: #ff761b;
}
.news_slider .card_cancel{
    transition:all 0.2s ease-in-out;
    background: #8e8e8e;
}
.news_slider .card_cancel:hover{
    background: #a3a3a3;
}
.news_slider .button {
    width: 260px;
    line-height: 46px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background: #f60;
    margin: 10px auto 0;
    border-radius: 4px;
}
.news_slider .button:hover {
    background:#ff761b;
}
.news_slider .img--wrapped .action{
    margin-top:28px;
    color:#fff;
}
.news_slider .am-slider-default{
    background: transparent;
}
.news_slider .am-slider-default .am-direction-nav a {
    width: 61px;
    height: 61px;
    margin-top: -45px;
    opacity: 1;
    top:37%;
}
.news_slider .am-slider-default .am-direction-nav a:before {
    width: 61px;
    height: 61px;
    content: "";
    background: url(../image/aleft.png) no-repeat;
}
.news_slider .am-slider-default .am-direction-nav a.am-next:before {
    content: "";
    background: url(../image/aright.png) no-repeat;
}
.news_slider .am-slider-default .am-direction-nav .am-prev {
    left: -85px;
}
.news_slider .am-slider-default .am-direction-nav .am-next {
    right: -85px;
    text-align: right;
}
.am-slider-default:hover .am-direction-nav a.am-next:before{
    background: url(../image/right.png) no-repeat;
}
.am-slider-default:hover .am-direction-nav a:before{
    background: url(../image/left.png) no-repeat;
}
.news_slider p.title{
    margin:28px auto 24px;
    font-size:24px;
    font-weight:bold;
    width:600px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#fff;
}
.news_slider p.li_content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color:#fff;
}
@media only screen and (max-width: 1024px) {
    .news_slider .slider--wrapped {
        width: 768px;
    }
}
@media only screen and (max-width: 640px) {
    .news_slider .slider--wrapped{
        width: 256px;
    }
}

#place .content{
    position: relative;
}
#place .act{
    width:260px;
    height:372px;
    position: absolute;
    right:64px;
    top:14px;
    background: #1a0b2c;
    font-size:16px;
}
#place .act_button{
    font-size:20px;
    line-height:48px;
    width:154px;
    margin:114px auto 24px;
    border:3px solid #824bff;
    cursor:pointer;
}
#place .act_button:hover{
    background: #824bff;
}
#place .act b{
    font-size:24px;
    color:#b24bff;
}


#contectus .content{
    display:flex;
}
#contectus .part{
    flex:1;
    text-align:left;
}
#contectus p{
    font-size: 16px;
    line-height:28px;
    margin:0;
}
#contectus .title{
    font-size:20px;
    line-height:1;
    font-weight:bold;
}
#contectus .hr{
    display:inline-block;
    width:30px;
    height:1px;
    margin:30px auto 9px;
    background: #824bff;
}
.copyright {
    font-size:14px;
    padding: 18px 28px;
    margin-top:180px;
    border-top:1px solid;
    border-image:linear-gradient(to right,#ff0031,#720083,#00d6ff) 30 30;
    border-right-color:transparent;
    border-left-color:transparent;
    border-bottom-color:transparent;
}
.copyright p {
    text-align: center;
    line-height:1;
    padding: 10px 0;
    margin: 0;
}
.copyright a{
     color: #fff;
 }
.copyright a span{
    padding:20px;
}

/*alert*/
.ws_alert {
    padding: 30px 50px;
    position: fixed;
    text-align: center;
    font-size: 16px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: none;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    z-index: 4;
}

/*回到首页*/
.jionmeeting--fixed {
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 3;
}

.jionmeeting--fixed span {
    display: inline-block;
    line-height: 32px;
    width: 32px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: rgba(196, 209, 221, 0.6);
    border-radius: 50%;
    vertical-align: middle;
}
.ticket--fixed{
    position: fixed;
    bottom: 50px;
    right:6.5%;
    opacity:0;
}
.footer-fixed{
    position:fixed;
    top:35%;
    right:0;
    z-index: 2;
}
.footer-fixed a,.footer-fixed a:focus,.footer-fixed a:hover{

}
.footer-fixed .footer_btn{
    width:200px;
    line-height:54px;
    font-size:20px;
    font-weight:bold;
    color: #1a0a2c;
    text-align:center;
    margin-bottom:8px;
    position:relative;
    padding: 0;
}
.footer-fixed .footer_span{
    color:#fff;
    font-size:20px;
    line-height:60px;
    position:absolute;
    left:220px;
    text-align:center;
    transition:left 0.4s ease-in-out;
    border-radius:30px 0 0 30px;
}
.footer-fixed .footer_btn.btn1{
    background: #824bff;
}
.footer-fixed .footer_btn.btn2{
    background: #01d6ff;
}
.footer-fixed .footer_btn.btn3{
    background: #ff0032;
}
.am-gotop-fixed {
    right: 0;
    bottom: auto;
    width: 200px;
    height:54px;
    vertical-align: middle;
}
.footer-fixed .footer_btn.btn4{
    margin-top:8px;
    border:2px solid;
    border-image: linear-gradient(to top right, #ff0031 ,#720083, #00d6ff) 10 10;
}
.footer-fixed .footer_btn.btn1:hover{
    background: #663bcd;}
.footer-fixed .footer_btn.btn2:hover{
    background: #00b8dc;
}
.footer-fixed .footer_btn.btn3:hover{
    background: #de002b;
}
.footer-fixed .footer_btn.btn4:hover{}
.footer-fixed .footer_btn.btn4 a span{color:#fff;font-weight:normal;margin-left:5px;}
.footer-fixed .footer_btn.btn4 a:hover span{
    color:#824bff;
}
.footer-fixed .footer_btn.btn4 img{
    margin-top:-3px;
}


/*弹窗*/
.am-modal#doc-modal-3 .am-modal-dialog{
    border:3px solid;
    border-image: linear-gradient(to top right, #ff0031 ,#720083, #00d6ff) 30 30;
    background: #fff;
}
.am-modal#doc-modal-3 .am-modal-bd {
    width: 400px;
    margin: 0 auto;
    padding:0;

}
.am-modal-bd #activity_tab span {
    display:inline-block;
    font-size:18px;
    outline:#f60;
    line-height:40px;
    width:130px;
    color:#000;
}
.am-modal .modal_option.info{
    height:160px;
}

.am-modal-bd #activity_tab span:hover{
    background: #dbdbdb;
}
.am-modal-bd #activity_tab span.active {
    background: #1b1440;
    outline:blue;
    position:relative;
    color:#fff;
}
.am-modal-bd #activity_content .contents {
    display: none;
    position: relative;
    height: 600px;
    margin-top:50px;
}

.am-modal-bd #activity_content .contents.active {
    display: block;
}
.am-modal#doc-modal-3 fieldset{
    padding:0;
}
.am-form input[type=text], .am-form input[type=email], .am-form input[type=tel], .am-form select, .am-form textarea, .am-form-field{
    display:inline-block;
    width:70%;
    float:right;
    border-color:#c7c7c7;
}
.am-form-file{
    display: inline-block;
    width:130px;
    margin-bottom:0;
}
.modal_option .file_tip{
    position: absolute;
    bottom: -20px;
    left: 27%;
    font-size: 12px;
    color: #808080;
}
.am-form-file .button-color{
    background: #1b1440;
    color:#fff;
    width:130px;
    cursor:pointer;
}
.am-modal label {
    display: inline-block;
    width: 24%;
    text-align: right;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    margin: 0 18px 0 0;
    padding: 2.5px 0;
}
.am-modal label b{
    color:red;
}
.am-modal .modal_option{
    margin-bottom: 10px;
    margin-right: 30px;
}
.am-modal .modal_option.am-cf{
    margin-right: 0;
    position: relative;
}
.am-modal .falsetip{
    display:none;
    font-size:12px;
    color:#000;
    text-align: left;
    margin-left:15px;
}
.am-modal .falsetip span{
    color:#ff0046;
}
.am-modal .returntip{
    display:none;
    font-size:12px;
    color:#ff0046;
}
.am-modal .returntip img{
    margin-top:-2px;
    margin-right:5px;
}

.file_upload{

}
.file--clear{
    color:#824bff;
    display:none;
}
.file--clear .file_name{
    display: inline-block;
    width: 220px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top: 5px;
}
#file_clear{
    margin-top:14px;
    background: #1b1440;
    color:#fff;
    width:130px;
    line-height:30px;
    cursor:pointer;
}


.am-modal-hd .am-close {
    position: absolute;
    top: -23px;
    right: -3px;
    opacity: 1;
}
#doc-modal-3 .am-btn--form {
    position:absolute;
    bottom:32px;
    left:50%;
    display: block;
    width: 250px;
    font-size: 1.6rem;
    height:50px;
    color: #fff;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 26px auto 0 -125px;
    background: #ff0046;
}
.am-modal .am-form-icon [class*=am-icon-] {
    left: 1em;
}
.am-modal .am-field-error, .am-form-error .am-form-field,.am-form-success .am-form-field {
    -webkit-box-shadow:none;
    box-shadow:none;
}
.am-modal .am-field-error:focus,.am-modal .am-form-error .am-form-field:focus ,.am-modal .am-form input[type=text]:focus,.am-modal .am-form input[type=email]:focus{
    background-color: #fefffe;
    border-color: #cf2d27;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
}
.am-form-success .am-checkbox, .am-form-success .am-checkbox-inline, .am-form-success .am-form-help, .am-form-success .am-form-label, .am-form-success .am-radio, .am-form-success .am-radio-inline, .am-form-success label{
    color:#333;
}
.am-modal .hope--select {
    text-align: left;
}
.am-modal textarea{
    height:160px;
    resize:none;
}
.am-modal label>span{
    display: inline-block;
    min-width: 86px;
    text-align: right;
    float:left;
}
.am-modal .hope-head{
    font-size:16px;
    text-align:left;
    padding:0;
}
.am-modal .selectservers{
    margin-top:36px;
}
.mymessages--wrapped label {
    font-weight: normal;
    margin: 0;
}
.mymessages_name label{
    display: block;
    font-weight: normal;
    line-height: 38px;
    margin: 0;
}
.label--re .label_span{
    position:relative;
    top:5px;
}
.am-modal {
    z-index:2;
}
.am-dimmer{
    z-index: 1;
}
.am-form input[type=search]:focus{
    box-shadow:none;
}
@media(max-width:640px){
    .am-modal .dialog_input{
        padding:0 1rem;
    }
    .am-modal .am-container--re{
        padding:0 1rem;
    }

}
@media(max-width:1440px){
    .am-modal-bd #activity_tab span{
        width:120px;
    }
    .am-modal-bd #activity_content .contents{
        height:545px!important;
    }
    .am-modal-dialog{
        height:660px!important;
    }
    .am-modal textarea{
        height:120px!important;
    }
    .am-modal .modal_option.info{
        height:120px!important;
    }
    .am-modal-hd .am-close {
        top: 0;
        right: 15px;
    }

}
#activity_tab .active:after {
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: -7px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 0 dotted;
    border-top: 7px solid #1b1440;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}

.messages{
    display:none;
    width:300px;
    height:200px;
    position:fixed;
    top:50%;
    left:50%;
    font-size:28px;
    color:#000;
    text-align:center;
    margin-left:-150px;
    margin-top:-100px;
    background: #fff;
    border:3px solid;
    border-image: linear-gradient(to top right, #ff0031 ,#720083, #00d6ff) 30 30;
    z-index: 5;
}
.messages img{
    margin:30px auto 18px;
}
.fileprocess{
    display:none;
    width:250px;
    height:150px;
    position:fixed;
    top:50%;
    left:50%;
    background: #1b1440;
    color:#fff;
    padding:45px 28px;
    text-align:center;
    font-size:16px;
    margin-left:-125px;
    margin-top:-75px;
    z-index: 3;
}
.fileprocess .process--wrapper{
    margin-top:20px;
    width:100%;
    height:6px;
    position: relative;
    background: #fff;
}
.fileprocess #processes{
    position:absolute;
    height:6px;
    background: #ff0044;
    top:0;
    left:0;
    transition:all 2s ease-in-out;
}