main .wrapped{
    max-width: 900px;
}
.foot--wrapper{
    margin-top:110px;
}

header li{
    float:left;
    width:auto;
}
header li a{
    padding:0 15px;
}
main .banner{
    height:571px;
    background: url("../images/Star_banner.png?v=20180517aaa") no-repeat center;
}
main .title{
    padding:120px 0 60px;
    text-align: center;
    
}
main .themes .title{
    padding:50px 0 40px;
}
main .title .img--wrapper{
    height:150px;
}
main .title .img--wrapper {
    position: relative;
}
main .title .img--wrapper::before {
    content:'';
    display:block;
    height:3px;
    width:40%;
    background:linear-gradient(to right, #25002e ,#1b1464, #0071ba);
    position: absolute;
    top:50%;
    right:58%;
    transform: translateX(-60px);
}
main .img--wrapper::after{
    content:'';
    display:block;
    height:3px;
    width:36%;
    background:linear-gradient(to left, #25002e ,#1b1464, #0071ba);
    position: absolute;
    top:50%;
    left:58%;
    transform: translateX(60px);
}
main .title .img{
    height:100%;
}
main .content{
   margin-top:40px;
   text-align: center
}
.themes .content{
    max-width:1150px;
}
.themes .content img{
    width:930px;
    user-select: none;
}
#projectThemes .img--wrapper{
    position: relative;
}

#requirements .content{
    max-width:736px;
}
#requirements .content li{
    float:left;
    width:212px;
    height:314px;
    padding:127px 20px 0;
    background: url("../images/Star_bmyq-1.png") no-repeat center;
    margin-right:50px;
    display: flex;
    align-items:center;
    justify-content:center;
}
#requirements .content p{
    font-size:18px;
    line-height:2;
}
#requirements .content li:nth-child(2){
    background: url("../images/Star_bmyq-2.png") no-repeat center;
}
#requirements .content li:nth-child(3){
    background: url("../images/Star_bmyq-3.png") no-repeat center;
    margin:0;
}

#requiredMaterials .content{
    max-width:820px;
    padding-top:180px;
    background: url("../images/Star_bmzl-liucheng.png") no-repeat center top;
}
#requiredMaterials .content li{
    float: left;
    width: 190px;   
    margin-right: 115px;
    text-align: center;
}
#requiredMaterials .content li:last-of-type{
    margin:0;
}
#requiredMaterials .content p{
    font-size:18px;
    line-height:2;
}

#agenda .content{
    max-width:800px;
    height:1104px;
    background: url("../images/Star_sjzbg.png?v=20180501") no-repeat center;
}
.agenda_list{
    width:400px;
    padding-top:95px;
}
.agenda_list li{
    position: relative;

    text-align: left;
}
.agenda_list li:first-of-type{
    max-height:350px;
}
.agenda_list li:nth-of-type(2){
    max-height: 190px;
}
.agenda_list li:nth-of-type(3){
    max-height:138px;
}
.agenda_list li:nth-of-type(odd){
    padding-right:40px;
}
.agenda_list li:nth-of-type(even){
    padding-left:95px;
    right:-403px;
}
.agenda_list li .before,.agenda_list li .after{
    display: block;
    position: absolute;
    width:50px;
    height:50px;
    color:rgba(255, 255, 255, 0.3);
}
.agenda_list li:nth-child(1) .before{
    content:'4.9';
    top: -43px;
    right:10px;
}
.agenda_list li:nth-child(1) .after{
    content:'5.31';
    bottom: -110px;
    right: 10px;
}
.agenda_list li:nth-child(2) .before{
    content: '4.9';
    top: 90px;
    left: 32px;
}
.agenda_list li:nth-child(2) .after{
    content: '4.9';
    bottom:-50px;
    left: 32px;
}
.agenda_list li:nth-child(3) .before{
    content:'4.9';
    top: 30px;
    right:15px;
}
.agenda_list li:nth-child(3) .after{
    content:'5.31';
    bottom: -91px;
    right: 15px;
}
.agenda_list li:nth-child(4) .before{
    content:'4.9';
    top: 72px;
    left:32px;
}
.agenda_list li:nth-child(4) .after{
    content:'5.31';
    top: 140px;
    left: 32px;
}
.agenda_list .phase{
    position: relative;
    font-size:28px;
}
.agenda_list .phase strong{
    font-weight:normal;
    font-family: fangzheng01;
}
.agenda_list .data{
    font-family: medium;
    display:inline-block;
    width:315px;
    font-size:44px;
    line-height: 1.5;
    text-align: left;
    color:#4417ff;
    
}
.agenda_list li:nth-of-type(odd) .phase:after{
    content:'';
    display: block;
    position: absolute;
    right:-50px;
    top: 5px;
    width:51px;
    height:45px;
    background: url("../images/linesbm.png") no-repeat;
}
.agenda_list li:nth-of-type(even) .phase:after{
    content:'';
    display: block;
    position: absolute;
    right:-50px;
    top: 5px;
    width:51px;
    height:45px;
    background: url("../images/linesbm.png") no-repeat;
}
.agenda_list .time{
    display:inline-block;
    font-size:44px;
    line-height: 1.95;
    text-align: center;
    color:#4417ff;
}
.agenda_list p{
    max-width:272px;
    font-size:16px;
    line-height:2;
}
#rewards .content{
    max-width:760px;
}
#rewards .content p{
    text-align: left;
    line-height: 2;
    font-size:18px;
}
#rewards .content p strong{
    color:#4417ff;
}

#judging .content{
    max-width:718px;
    height:512px;
    margin-bottom: 200px;
    position: relative;
    background: url("../images/Starpng_psbz.png") no-repeat center;
}

#judging .content li p{
    font-size:16px;
    line-height: 2;
    text-align: left;
}
#judging .content li{
    position: absolute;
}
#judging .content li:nth-child(1){
    width: 160px;
    right: 10px;
    top: -15px;
}
#judging .content li:nth-child(2){
    width: 245px;
    right: -120px;
    bottom: 15px;
}
#judging .content li:nth-child(3){
    width: 155px;
    left: 80px;
    bottom: -70px;
}
#judging .content li:nth-child(4){
     width: 177px;
     left: -90px;
     top: 75px;
}
#expert .content{
    max-width: 1090px;
}
#expert .content li{
    display: none;
    float: left;
    max-width:178px;
    margin-right:50px;
    margin-bottom:50px;
    background: #fff;
}
#expert li.parter_company{
    display: list-item;
    max-width:200px;
    margin-right:22.5px;
}
#expert .content li:nth-child(5n+5) {
    margin-right:0;
}

#expert li img{
    width:178px;
    height:178px;
    border-radius: 50%;
}
#expert li.parter_company img{
    width:200px;
    height:68px;
    border-radius: 0;
}
#expert li p{
    color:#fff;
}
#expert li p.name{
    font-size:24px;
    font-weight:bold;
    margin:26px 0 16px; 
}
#expert li p.position{
    font-size:18px;
    line-height: 24px;
}

#join{
    position:fixed;
    right:20px;
    bottom:200px;
    width:100px;
    height:100px;
    z-index: 2;
    background: url("../images/S_xmbm1.png") no-repeat center;
    background-size: contain;
}
#join:hover{
    width:100px;
    height:100px;
    background: url("../images/S_xmbm2.png") no-repeat center;
    background-size: contain;
}
#join1{
    position:fixed;
    right:20px;
    bottom:315px;
    width:100px;
    height:100px;
    z-index: 2;
    background: url("../images/psbm-1.png") no-repeat center;
    background-size: contain;
}
#join1:hover{
    width:100px;
    height:100px;
    background: url("../images/psbm-2.png") no-repeat center;
    background-size: contain;
}

/*弹窗*/
.am-modal#doc-modal-3 .am-modal-dialog,.am-modal#doc-modal-4 .am-modal-dialog{
    border:3px solid;
    border-image: linear-gradient(to right, #ff0031 ,#720080, #00d3ff) 30 30;
    background: #fff;
}
.am-modal#doc-modal-3 .am-modal-bd,.am-modal#doc-modal-4 .am-modal-bd {
    width: 565px;
    margin: 0 auto;
    padding:0;

}
#model_wrapper,#model_wrapper02{
    max-height: 450px;
    overflow-y: scroll;
}
.am-modal-bd .bd_title{
    text-align: left;
}
.am-modal-bd .bd_title span {
    display:inline-block;
    font-size:24px;
    line-height:1;
    font-weight:bold;
    color:#25002e;
}
.am-modal .modal_option.info{
    height:160px;
}

.am-modal-bd #activity_tab span:hover{
    background: #dbdbdb;
}
.am-modal-bd #activity_tab span.active {
    background: #1b1440;
    outline:blue;
    position:relative;
    color:#fff;
}
.am-modal-bd #activity_content .contents,.am-modal-bd #activity_content02 .contents {
    display: none;
    position: relative;
    margin-top:36px;
}

.am-modal-bd #activity_content .contents.active,.am-modal-bd #activity_content02 .contents.active {
    display: block;
}
.am-modal#doc-modal-3 fieldset,.am-modal#doc-modal-4 fieldset{
    padding:0;
}
.am-form input[type=text], .am-form input[type=email], .am-form input[type=tel], .am-form select, .am-form textarea, .am-form-field{
    display:inline-block;
    width:64.52%;
    float:right;
    border-color:#c7c7c7;
}
.am-form-file{
    display: inline-block;
    width:130px;
    margin-bottom:0;
}
.am-form-file input[type=file]{
    height:32px;
}
.modal_option{
    max-width:465px;
    margin:0 auto;
    position: relative;
}
.modal_option .file_tip{
    font-size: 12px;
    color: #808080;
}
.option--tip{
    position:absolute;
    right:0;
    bottom: -25px;
    width: 64.52%;
    text-align: left;
}
.am-form-file .button-color{
    background: #1b1440;
    color:#fff;
    width:130px;
    cursor:pointer;
}
.am-modal label {
    display: inline-block;
    width: 26%;
    text-align: right;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    margin: 0 18px 0 0;
    padding: 2.5px 0;
}
.am-modal label b{
    color:red;
}
.am-modal .modal_option{
    margin-bottom: 32px;
}
.am-modal .modal_option.am-cf{
    position: relative;
}
.am-modal .falsetip,.am-modal .falsetip02{
    display:none;
    font-size: 12px;
    line-height: 1.2;
    color: #000;
    text-align: left;
    position: absolute;
    right: 0;
    top: 17px;
}
.am-modal .falsetip span,.am-modal .falsetip02 span{
    color:#ff0046;
}
.am-modal .returntip{
    display:none;
    font-size:12px;
    color:#ff0046;
}
.am-modal .returntip img{
    margin-top:-2px;
    margin-right:5px;
}

.file_upload,.file_upload02{
    width: 64.52%;
    text-align: left;
}
.file--clear,.file--clear02{
    color:#824bff;
    width: 64.52%;
    display:none;
    text-align: left;
}
.file--clear .file_name,.file--clear .file_name02{
    display: inline-block;
    width: 220px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top: 5px;
}
#file_clear,#file_clear02{
    margin-top:14px;
    background: #1b1440;
    color:#fff;
    width:130px;
    line-height:30px;
    cursor:pointer;
    text-align: center;
}
#file_clear02{
    margin-top:21px;
}


.am-modal-hd .am-close {
    position: absolute;
    top: -23px;
    right: -3px;
    opacity: 1;
}
.am-modal .am-form-icon [class*=am-icon-] {
    left: 1em;
}
.am-modal .am-field-error, .am-form-error .am-form-field,.am-form-success .am-form-field {
    -webkit-box-shadow:none;
    box-shadow:none;
}
.am-modal .am-field-error:focus,.am-modal .am-form-error .am-form-field:focus ,.am-modal .am-form input[type=text]:focus,.am-modal .am-form input[type=email]:focus{
    background-color: #fefffe;
    border-color: #cf2d27;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
}
.am-form-success .am-checkbox, .am-form-success .am-checkbox-inline, .am-form-success .am-form-help, .am-form-success .am-form-label, .am-form-success .am-radio, .am-form-success .am-radio-inline, .am-form-success label{
    color:#333;
}
.am-modal .hope--select {
    text-align: left;
}
.am-modal textarea{
    height:160px;
    resize:none;
}
.am-modal label>span{
    display: inline-block;
    min-width: 86px;
    text-align: right;
    float:left;
}
.am-modal .hope-head{
    font-size:16px;
    text-align:left;
    padding:0;
}
.am-modal .selectservers{
    margin-top:36px;
}
.mymessages--wrapped label {
    font-weight: normal;
    margin: 0;
}
.mymessages_name label{
    display: block;
    font-weight: normal;
    line-height: 38px;
    margin: 0;
}
.label--re .label_span{
    position:relative;
    top:5px;
}
.am-modal {
    z-index:2;
}
.am-dimmer{
    z-index: 1;
}
.am-form input[type=search]:focus{
    box-shadow:none;
}
#doc-modal-3 .am-btn--form,#doc-modal-4 .am-btn--form {
    display: block;
    width: 250px;
    font-size: 1.6rem;
    height:50px;
    color: #fff;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 60px auto 30px;
    background: #ff0046;
}
@media(max-width:640px){
    .am-modal .dialog_input{
        padding:0 1rem;
    }
    .am-modal .am-container--re{
        padding:0 1rem;
    }

}
@media(max-width:1440px){
    .am-modal-bd #activity_content .contents{
        height:545px!important;
    }
    .am-modal-dialog{
        height:550px!important;
    }
    .am-modal textarea{
        height:120px!important;
    }
    .am-modal .modal_option.info{
        height:120px!important;
    }
    .am-modal-hd .am-close {
        top: 0;
        right: 15px;
    }

}
#activity_tab .active:after {
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: -7px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 0 dotted;
    border-top: 7px solid #1b1440;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}

.messages{
    display:none;
    width:300px;
    height:200px;
    position:fixed;
    top:50%;
    left:50%;
    font-size:28px;
    color:#000;
    text-align:center;
    margin-left:-150px;
    margin-top:-100px;
    background: #fff;
    border:3px solid;
    border-image: linear-gradient(to top right, #ff0031 ,#720083, #00d6ff) 30 30;
    z-index: 5;
}
.messages img{
    margin:30px auto 18px;
}
.fileprocess{
    display:none;
    width:250px;
    height:150px;
    position:fixed;
    top:50%;
    left:50%;
    background: #1b1440;
    color:#fff;
    padding:45px 28px;
    border:3px solid;
    border-image: linear-gradient(to right, #ff0031 ,#720080, #00d3ff) 30 30;
    text-align:center;
    font-size:16px;
    margin-left:-125px;
    margin-top:-75px;
    z-index: 3;
}
.fileprocess .process--wrapper{
    margin-top:20px;
    width:100%;
    height:6px;
    position: relative;
    background: #fff;
}
.fileprocess #processes{
    position:absolute;
    height:6px;
    background: #ff0044;
    top:0;
    left:0;
    transition:all 2s ease-in-out;
}


#model_wrapper::-webkit-scrollbar,#model_wrapper02::-webkit-scrollbar{width:4px;}
#model_wrapper::-webkit-scrollbar-thumb,#model_wrapper02::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius:8px;
}
#model_wrapper::-webkit-scrollbar-track,#model_wrapper02::-webkit-scrollbar-track{
    opacity: 1;
    background: #fff;
}
#model_wrapper:hover::-webkit-scrollbar-thumb,#model_wrapper:active::-webkit-scrollbar-thumb,
#model_wrapper02:hover::-webkit-scrollbar-thumb,#model_wrapper02:active::-webkit-scrollbar-thumb{background-color:#bebebe}
#model_wrapper:hover::-webkit-scrollbar-track,#model_wrapper02:hover::-webkit-scrollbar-track{background: #e4e4e4;}